<!-- Sarah Bayle Website -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sarah Natoli</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!-- <link rel="stylesheet" href="css/qviz.css"> -->
    <!-- <link rel="stylesheet" href="css/font-awesome.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
      @font-face {
        font-family: 'Dancing Script';
        src: 
          url('fonts/DancingScript-Regular.ttf') format('truetype');
      }

      .icon {
        /*height: 30px;*/
        width: 30px;
      }
      .cursive {
        font-family: 'Dancing Script', cursive;
      }
    </style>
  </head>
  
  <body>

  <!-- begin row for all content -->
  <div class="row">
    <!-- begin column for all content -->
    <div class="col-xs-10 col-xs-offset-1">

      <!-- linkedin and other buttons -->
      <div class="row">
        <div style="height: 10px"></div>
        <div class="col-xs-12">
          <a href="mailto:sbayle@gmail.com" target="_blank"><img class="img-responsive pull-right icon" src="img/gmail-logo.jpg"></img></a>
          <a href="http://www.linkedin.com/in/sarahbayle" target="_blank"><img class="img-responsive pull-right icon" src="img/linkedin_button.png"></img></a>
        </div>
      </div>

      <!-- head shot and about me paragraph -->
      <div class="row">
        
        <div class="col-md-3 col-xs-12">
          <h1 style="text-align: center" class="cursive">Sarah Natoli</h1>
          <img class="img-responsive" src="img/Sarah_Bayle_pic.jpg" style="width: 50%; max-width: 200px; min-width: 100px; margin-left: auto; margin-right: auto; border-radius: 9px"></img>
        </div>
        
        <!-- 'about me' paragraph -->
        <div class="col-md-9 col-xs-12">
          <div style="height: 50px"></div>
          <p class="lead">
          Welcome to my online portfolio. All of my professional experience&mdash;in the nonprofit and legal sectors, running a freelance editorial business, and with leading educational publishers&mdash;is tied together by these three complementary threads of writing, editing, and project management. Success in all of these areas hinges on the ability to communicate clearly and concisely. Thus, you will find a representative sampling, rather than a comprehensive listing, of my recent work. Please contact me for more information.
          </p>
        </div>
      
      </div>
      <!-- end headshot and about me  -->

      <hr>
          
      <!-- begin tab buttons -->
      <div class="row">
        <ul class="nav nav-pills lead" style="text-align: center">
          <li class="col-md-3 col-md-offset-1 col-xs-12 active" role="presentation"><a data-toggle="tab" href="#writing">Writing</a></li>
          <li class="col-md-3 col-md-offset-1 col-xs-12" role="presentation"><a data-toggle="tab" href="#editing">Editing</a></li>
          <li class="col-md-3 col-md-offset-1 col-xs-12" role="presentation"><a data-toggle="tab" href="#project-management">Project Management</a></li>
        </ul>
      </div>
      <!-- end tab buttons -->

      <div style="height: 50px"></div>

      <!-- begin tab content -->
      <div class="row">
        <div class="tab-content col-xs-12">
        <!-- writing -->
          <div class="tab-pane active" id="writing">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <p>
                  This is a representative sample of my recent writing projects, ranging from work on others' blogs to my own blog to professional and educational materials. Click on the image next to each description to visit the associated webpage.
                </p>
              </div>
            </div>
            <div style="height: 50px"></div>
          </div>

          <!-- editing  -->
          <div class="tab-pane" id="editing">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <p>
                  This is a representative sample of my recent editing projects, ranging from academic developmental editing to copyediting and proofreading material for publishing companies. Click on the image next to each description to visit the associated webpage.
                </p>
              </div>
            </div>
            <div style="height: 50px"></div>
          </div>

          <!-- project management -->
          <div class="tab-pane" id="project-management">
            <!-- opening paragraph  -->
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <p style="font-size: 17.5px">
                  I have excelled at project management because I understand its foundation:
                  <ol style="font-size: 17.5px">
                    <li><strong>Effective communication</strong>&mdash;with key stakeholders such as vendors, coworkers, and customers</li>
                    <li><strong>Scheduling</strong>&mdash;setting ambitious yet attainable goals for milestones and meeting/exceeding them</li>
                    <li><strong>Cost containment</strong>&mdash;producing the best quality product possible within or under the budget</li>
                    <li><strong>Prioritization</strong>&mdash;balancing competing demands and assessing importance of tasks</li>
                  </ol>
                </p>
              </div>
            </div>

            <div style="height: 50px"></div>

            <!-- JBL description -->
            <div class="row">
              <a class="col-xs-12 col-md-2 col-md-offset-1" href="http://www.jblearning.com" target="_blank">
                <img class="img-responsive thumbnail" style="max-height: 100px; margin: auto" src="img/jbl.png"></img>
              </a>
              <div class="col-xs-12 col-md-7">
                <a href="http://www.jblearning.com" target="_blank"><h4>Jones & Bartlett Learning</h4></a>
                <p><strong>Dates:</strong> 2007-2010; January, 2014-present</p>
                <p><strong>Positions: </strong>Production Editor/Freelancer Liaison</p>
                <p>
                  I am responsible for coordinating production and timing the delivery of assets that comprise Jones & Bartlett's full curriculum solutions.
                </p>
                <p>
                  Our digital offerings present the biggest project management challenges because they are the newest products. We are constantly refining our processes and products to become more efficient and responsive to the market.
                </p>
                <p>
                  Tasks associated with overseeing digital asset production include:
                  <ul>
                    <li>Hiring and managing assessment authors and copyeditors</li>
                    <li>Working in a proprietary CMS</li>
                    <li>Gathering course assets (e.g., slide decks, lecture outlines, discussion questions, animations, ebook files, etc.) and overseeing integration into Moodle</li>
                    <li>Initiating course builds by liaising with solutions analysts</li>
                    <li>Alpha and beta testing courses before release</li>
                  </ul>
                </p>
                <p>
                  <u>Example</u>: I recently managed the production of the fifth edition of <a href="http://www.jblearning.com/catalog/9781284048865" target="_blank"><em>Health Policy and Politics</em></a> by Jeri A. Milstead, a key title on the nursing list. I am also overseeing the creation of <a href="http://www.jblearning.com/catalog/9781284068238" target="_blank">the companion Navigate 2 course</a>, which goes live in mid-January.
                </p>
              </div>
            </div>
            <!-- end JBL description -->

            <div style="height: 50px"></div>

            <!-- Pearson description -->
            <div class="row">
              <a class="col-xs-12 col-md-2 col-md-offset-1" href="http://www.pearsonlearningsolutions.com" target="_blank">
                <img class="img-responsive thumbnail" style="max-height: 100px; margin: auto" src="img/pearson.png"></img>
              </a>
              <div class="col-xs-12 col-md-7">
                <a href="http://www.pearsonlearningsolutions.com" target="_blank"><h4>Pearson Learning Solutions</h4></a>
                <p><strong>Dates:</strong> 2010-2012</p>
                <p><strong>Positions: </strong>Development Editor, Project Manager</p>
                <p>
                  At PLS, I was responsible for producing customized texts for professors and schools. My group specialized in the professional market, meeting the needs of career/trade schools and professional organizations.
                </p>
                <p>
                  The major challenges of the role were the high volume and the tight deadlines. I handled products from the moment they were submitted by field representatives through to fulfillment of customer orders. 
                </p>
                <p>
                  In my role:
                  <ul>
                    <li>I served as the in-house project lead</li>
                    <li>I reviewed specs for all incoming projects against profit margins</li>
                    <li>I worked with field representatives and customers (professors and schools) to adjust products</li>
                    <li>I collaborated with other in-house departments and outside vendors to deliver on time and within the budget</li>
                  </ul>
                </p>
              </div>
            </div>
            <!-- end Pearson description -->


          </div>
          <!-- end project management -->

        </div>

      </div>
      <!-- end tab content -->
    
    </div>
    <!-- end all content column  -->
  </div>
  <!-- end all content row -->


  <!-- simple template for displaying an article thumbnail and description -->
  <textarea id="article-blurb-template" style="display: none">
    
    <% _.each(articles, function(article) { %>

      <div class="row article-stub">
        <a class="col-xs-12 col-md-2 col-md-offset-1" href="<%= article.url %>" target="_blank">
          <img class="img-responsive thumbnail" style="max-height: 100px; margin: auto" src="img/<%= article.thumbnail_name %>"></img>
        </a>
        <div class="col-xs-12 col-md-7">
          <!-- company name  -->
          <h4><a href="<%= article.url %>" target="_blank"><%= article.company %></a></h4>
          <!-- check for title and author and date and show if present -->
          <% if (article.title) { %>
            <p><strong><%= article.title %></strong></p>
          <% } %>
          <% if (article.author) { %>
            <p>by <em><%= article.author %></em></p>
          <% } %>
          <% if (article.date) { %>
            <p><strong>Dates:</strong> <%= article.date %></p>
          <% } %>
          <!-- the description, assumed to contain properly escaped html -->
          <p>
          <%= article.description %>
          </p>
        </div>
      </div>
      <div style="height: 20px"></div>

    <% }) %>

  </textarea >
  <!-- end template  -->


  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/underscore-min.js"></script>

  <script type="text/javascript">
    // load json files and render against article-blurb-template
    var Template = _.template($("#article-blurb-template").text());
    var get_json = function(url, selector) {
      $.ajax({
        type: "GET",
        url: url,
        dataType: "json",
        success: function(response) {
          console.log(response);
          var compiled = Template({"articles": response});
          $(selector).append(compiled);
        },
        error: function(err) {
          console.error(err);
        }
      })
    }

    // function to process hash change events
    // THIS DOESN'T WORK YET
    process_hashchange = function() {
      // get the strings following the hash
      var hashtag = window.location.hash.split("#")[1] ? window.location.hash.split("#")[1].substr(1) : "writing";
      var fname = "json/" + hashtag + ".json";
      console.log(hashtag, fname);
      get_json(fname, "#" + hashtag)    
    }
  
    // run the hashchange function on page load
    // window.onload = process_hashchange;

    // listen to hash changes
    window.addEventListener("hashchange", process_hashchange);
    get_json("json/writing.json", "#writing")
    get_json("json/editing.json", "#editing")
    // get_json("json/project-management.json", "#project-management")
  </script>
    
  </body>
  
</html>
